@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bienvenue dans le système de gestion des employés !</p>
    <a asp-page="/Employees/Create" class="btn btn-primary">Ajouter un employé</a>
    <a asp-page="/Employees/Create" class="btn btn-primary">Retirer un employé</a>
    <a asp-page="/Employees/Create" class="btn btn-primary">Obtenir les infos d'un employé</a>
    <a asp-page="/Employees/Create" class="btn btn-primary">Modifier les infos d'un employé</a>
    <a asp-page="/Employees/Create" class="btn btn-primary">Ajouter un employé</a>
</div>
